
:root {
  --custom-primary-color: #3b80b5;
  --custom-secondary-color: #5489b1;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6px auto;
  height: auto;
}

.badge-container {
  margin-bottom: 20px;
  margin-top: 12px;
}

.custom-navbar {
  background-color: var(--custom-primary-color);
  color: #000;
}

.custom-navbar .nav-link {
  color: #fff;
  font-weight: bold;
}

.custom-navbar .nav-link:hover {
  color: #fff;
}

.tech-stack-container {
  display: flex;
  flex-direction: row;
}

.tech-stack {
  align-items: center;
}

.banner-container {
  height: 100vh;
}
