:root {
  --custom-primary-color: #1c2331;
  --custom-secondary-color: #2e3a51;
  --nav-link-active: #ffa000;
  --white-font-color: #fff;
  --bg-app-color: #fff;
  --arrow-bg-color: #313e56;
  --arrow-color: #f8f8f8;

  /* timeline psudo values */

  --year-font-size: 2px;
  --year-text-color: #aa3232;
  --timeline-item-bg-color: #f1f1f1;
  --timeline-item-text-color: inherit;
  --timeline-item-font-size: 12px;
  --timeline-item-padding: 4px 8px;
  --timeline-item-border-radius: 4px;
  --section-title-font-color: #ffa000;

  /* New metallic and robotic-themed variables */
  --metallic-bg-gradient: linear-gradient(135deg, #363c48, #1c2331);
  --robotic-font-family: 'Roboto', sans-serif;
}

.app-container {
  background: var(--metallic-bg-gradient);
  display: flex;
  flex-direction: column;
}

.custom-navbar {
  background: var(--metallic-bg-gradient);
  font-family: var(--robotic-font-family);
}

.nav-link:hover {
  color: var(--nav-link-active);
}

.content-container {
  align-items: center;
}

/* component  fonts */
.section-title h2 {
  font-size: 30px;
  font-weight: 600;
  color: var(--section-title-font-color);
  align-content: center;
  text-align: center;
  margin-bottom: 12px;
}

/* banner */

.banner-container {
  margin: 6px 6px;
  height: 90vh;
  margin-bottom: 6px;
}

.carousel-item-content {
  padding: 0 12px;
}

/* .carousel-card-l {
  height: 90vh;
}

.carousel-card-r {
  height: auto;
} */

/* projects */

.project-container {
  margin: 6px 0;
  margin-bottom: 10px;
  background: var(--metallic-bg-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  background: linear-gradient(135deg, #1c2331, #363c48);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  color: var(--white-font-color);
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-5px);
}

.search-bar {
  margin-bottom: 8px;
  background: var(--metallic-bg-gradient);
}

/* timeline */
.timeline-container {
  margin: 6px 0;
}

/* Screws */
.screw {
  position: absolute;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #888 20%, transparent 5%);
  background-size: 20px 20px;
  border-radius: 50%;
  transform: rotate(45deg);
}

.screw.top-left {
  top: -5px;
  left: -2px;
}

.screw.top-right {
  top: -5px;
  right: -2px;
}

.screw.bottom-left {
  bottom: -5px;
  left: -2px;
}

.screw.bottom-right {
  bottom: -5px;
  right: -2px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--metallic-bg-gradient);
}

.footer {
  color: var(--white-font-color);
  text-align: center;
}

.hero-arrow-container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  animation: floatArrow 2s ease-in-out infinite;
  transform-origin: center bottom;
}

.hero-arrow {
  cursor: pointer;
  background: var(--arrow-color);
  color: var(--arrow-bg-color);
}

@keyframes floatArrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
